/*
*
*
*
*
*
*
*
*
*/


/*This is navbar section*/

.navbar {
    border-radius: 0;
    background-color:black;
}


/*Main Contents*/

body {
    font-family: 'Times New Roman', Times, serif;
}

.cert-w > h1 { 
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
@media screen and (min-width:700px) {  /*Cert page query*/
   .cert-w > .col-md-8  { 
    text-align: center;
    margin-left: 14rem;
   } 
}

@media screen and (min-width:700px) {  /*Cert page query*/
    .col-md-8 > p { 
     margin-left: 9rem;
     width: 100%;
     padding-top: 30px;
    } 
}

 
.cert-w > p {
    font-size: 20px;
    margin-bottom: -2rem;
}

/*Images*/

.col-md-6 > .profile-image {
    border-radius: 50%;
    width: 400px;
    border:2px solid lightgray;
    padding:5px;
}

.profile-image:hover { 
    cursor: pointer;
    box-shadow: 0 10px 10px gray;
}

.section-A { 
    margin-bottom: 7rem;
    margin-top: 2rem;
}

.certificate {
    margin: 40px 0 0 0;
    padding-bottom: 50px;
    margin-top: 1rem;
}

.certificate:hover {
    box-shadow: 0 10px 10px 10px gray;
    padding-bottom: 0;
}

.certs {
    background-color:#F7F8FC;
}

.col-md-6 {
    margin-top:40px;
}

.col-md-6 > h1 {
    margin-top: 4rem;
}

@media screen and (min-width:700px) {  /*Cert page query*/
    .col-md-6 > .rzow { 
     margin-left: 19rem;
     width: 100%;

    } 
}
 .rzow > h1 {
     font-size: 42px;
     font-weight: bold;
 }

 @media screen and (max-width:700px){
    .rzow {
        padding: 20px;
    }
    .rzow > h1 {
        text-align: center;
    }
 }

.rzow  > .fd-h {
    font-size: 42px;
}

.col-md-2 {
    width: 90px;
    margin: 5px;
}

.col-md-2:hover {
    width: 110px;
    transition: .7s;
}

.col-md-8 > p, .col-md-6 > p, .link {
    font-size: 20px;
    color: rgb(88, 84, 84);
    padding-bottom: 40px;
}

.link:hover {
    color:limegreen;
    text-decoration: none;
}

/*This is a footer section*/
footer p {
    text-align: center;
    background-color: black;
    height: 50px;
    padding:10px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
    color:rgb(184, 177, 177);
}
 
.tfoot {
    margin-top: 145rem;
    margin-bottom: 0;
}

